.flex-container {
    display: flex; 
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: peachpuff;
    border: 2px solid rgb(158, 10, 10);
    height: 170px;
    flex: 1;
  }
  .flex-container .two {
    flex:2;
  }